.container {
  background-color: rgba(221, 221, 221, 0.46);
}

.tittle {
  background-color: #dfebde;
}
.container.dataUser {
  background-color: rgb(212, 19, 19) !important;
}

.container .belanjaan {
  background-color: rgba(125, 208, 121, 0.2) !important;
  border-radius: 10px;
}
.container .belanjaan img {
  padding: 10px;
  width: 150px;
}
