.content {
	padding-top: 6em;
	padding-bottom: 8rem;
}

.logo-img {
	width: 250px;
}

.navbar-nav .nav-link {
	padding: 0 0.8rem !important;
}

.fa-user-circle {
	padding-left: 0.3rem !important;
}

.carousel-inner .carousel-item {
	height: 400px;
}

.carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 400px;
	min-width: 100vw;
}

p.about {
	text-align: justify;
	margin: 15px 0;
}

.container .head .back button {
	float: left;
	border: none;
	font-size: 40px;
}


@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}

.alert {
	position: relative;
	animation-name: alert;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
}

@keyframes alert {
	0% {
		top: 0px;
	}
	50% {
		top: -7px;
	}
	100% {
		top: 0px;
	}
}
