.content {
	padding-top: 6em;
}

.logo-img {
	width: 250px;
}

.navbar-nav .nav-link {
	padding: 0 0.8rem !important;
}

.fa-user-circle {
	padding-left: 0.3rem !important;
}

.carousel-inner .carousel-item {
	height: 400px;
}

.carousel-item img {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 400px;
	min-width: 100vw;
}

p.about {
	text-align: justify;
	margin: 15px 0;
}

.back {
	float: left;
	border: none;
}

/* .container .body .items img {
	width: 260px; */
/* flex-wrap: wrap; */
/* } */

.container .body a {
	color: black;
}

.bg-abu {
	background-color: rgba(221, 221, 221, 0.46);
}

.tittle {
	background-color: #dfebde;
	padding: 18px 0;
}
.container.dataUser {
	background-color: rgb(212, 19, 19) !important;
}
.rounded {
	border-radius: 10px !important;
}
.container .belanjaan {
	background-color: rgba(125, 208, 121, 0.2) !important;
}
.container .belanjaan img {
	width: 150px;
	height: 225px;
	object-fit: cover;
}

@media (min-width: 1200px) {
	.container {
		max-width: 1300px;
	}
}

.alert {
	position: relative;
	animation-name: alert;
	animation-duration: 0.5s;
	animation-iteration-count: 2;
}

@keyframes alert {
	0% {
		top: 0px;
	}
	50% {
		top: -7px;
	}
	100% {
		top: 0px;
	}
}

.profile-large {
	object-fit: cover;
	width: 250px;
	height: 250px;
}

.profile-small {
	position: relative;
	top: -3px;
	right: -5px;
	margin-left: 5px;
	object-fit: cover;
	width: 25px;
	height: 25px;
}
.navbar .vertical-line {
	height: 30px;
	width: 1px;
	background-color: rgb(145, 145, 145);
	margin: 0px 10px;
}
a.card {
	text-decoration: none !important;
	transition: 200ms;
}

a.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.quantity-edit {
	width: 120px !important;
}

.maps{
	width:100%;
	height:350px;
	margin:30px 0px;
}
